:root {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 200ms ease;
}

body {
  display: flex;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  align-content: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#main-container {
  align-self: center;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 500px;
  max-width: 700px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#container {
  align-self: center;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.myForm {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  padding: 1.2em;
}
.myForm > label {
  grid-column: labels;
  grid-row: auto;
}
.myForm > input,
.myForm > textarea {
  grid-column: controls;
  grid-row: auto;
}
.myForm > button {
  grid-column: span 2;
}

label {
  text-align: end;
}
